<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-repo-packages" value="../nuget-packages" />
    <add key="FluentMigrator" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/FluentMigrator/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-repo-packages">
      <package pattern="Mono.Posix.NETStandard" />
      <package pattern="System.Data.SQLite.Core.Servarr" />
      <package pattern="Servarr.FluentMigrator.Runner" />
      <package pattern="Servarr.FluentMigrator.Runner.SQLite" />
      <package pattern="Servarr.FluentMigrator.Runner.Postgres" />
    </packageSource>
    <packageSource key="FluentMigrator">
      <package pattern="Servarr.FluentMigrator*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
